body {
    background: url("http://mdbootstrap.com/images/regular/nature/img%20(4).jpg") no-repeat center center fixed;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #3F729B !important;
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3F729B !important;
    }
}
